.profilePadre{
    background:url(../../../assets/mulyadi-d3KukqLHoNU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: contain;
    height: 85vh;
    display: flex;
    justify-content: center;

    .userfield{
        border: 1px solid rgb(131, 108, 108);
      
    }
    

}
