.PostAdminDiv{
    margin:10px ;
    width: 50vh;
    padding: 10px;
    background-color: rgb(192, 191, 190);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: transform 1s;
    
}
.PostAdminDiv:hover {
    transform: scale(1.05);}