.PostAdminDiv{
    margin:5px ;
    width: 50vh;
    padding: 5px;
    background-color: rgb(187, 196, 193);
    opacity: .7;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: transform 1s;
    
}
.PostAdminDiv:hover {
    transform: scale(1.05);}