.postdetaildiv{
    height: 85vh;

    h4{
        color: white;
    }
}

.postdetailed{
    border: 2px solid black;
    background-color: rgb(180, 180, 180);
    opacity: .7;
    margin: 40px;
    color: rgb(0, 0, 0);
}