*{
     text-decoration: none;
}

.postdiv{
    border: 2px solid black;
    border-radius: 15px;
    margin: 15px;
    padding: 30px;
    color: rgb(167, 31, 31);
    background: rgb(59,51,51);
    background: linear-gradient(190deg, rgba(59,51,51,1) 41%, rgb(90, 81, 157) 100%);
    opacity: .5;
   
}
