.header{
    background-color: rgb(82, 74, 74);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    


a{
    all: unset;
    color: white;
    margin: 15px;

&:hover{
    color: blue;
}
}

}

