.header{
    background:url(../../../assets/pexels-leonardo-vazquez-3591570.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: contain;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    -webkit-box-shadow: -1px -2px 25px 0 rgba(255, 255, 255, 0.46);

a{
    all: unset;
    color: #e31c79;
    margin: 15px;

&:hover{
    color: blue;
}
}

}


