.header{
    background-color: rgb(82, 74, 74);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-bottom: solid 3px gold;

a{
    all: unset;
    color: white;
    margin: 15px;

&:hover{
    color: blue;
}
}

}

