.padreCreatePost{
    display: flex;
    justify-content: center;
    
}

.postForm:hover {
    transform: scale(1.05);}

.postForm{
    border: 2px solid black;
    height: 180px;
    width: 25%;
    padding: 60px;
    display: flex;
    justify-content: center;
    transition: transform 1s;
}