.footerdiv{
    border-top: rgb(0, 0, 0) 3px solid;
    display: flex;
    color: rgb(255, 213, 0);
    font-size: large;
    background:url(../../../assets/pexels-adrien-olichon-2387819.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: contain;
    height: 150px;
    width: 100%;
    align-self: flex-end;
}
.item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 23%;
h5{
    margin: 5px;
}
span{
    margin: 5px;
}
}