.logindiv{
    display: flex;
    justify-content: center;
   
}
form{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 300px;
    margin: 60px;
    padding: 20px;

}
input{
    margin: 10px;
    border: 1px solid rgb(118, 118, 146);
   
}
button{
    background-color: #0c69f5;
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
    color: white;
    font-size: larger;

    &:hover{
        background-color: rgb(25, 84, 129);
    }
}
p{
    color: white;
}