.App {
  text-align: center;
  min-height: 100vh;
  background:url(../assets/mulyadi-d3KukqLHoNU-unsplash.jpg);
  background-position: center;
   background-size: cover;
   background-attachment: contain;
}